body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
        134.34% 134.34% at 50% 0%,
        #1f3757 0%,
        #131537 100%
      );
}

.container{
    padding: 40px;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}
.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px blue;
}
.flex-box-rps{
    display: flex;
    padding: 30px;
    justify-content:space-around;
}

h2{
  margin-bottom: 1.5em;
  position: relative;
  font-size: 5em;
  letter-spacing: 15px;
  color:rgb(9, 23, 131); 
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect:below 1px linear-gardient(transparent, #0004 );
  line-height: 0.70em;
  outline:none;
  animation: animate 5s linear infinite;
}
@keyframes animate{
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80.1%, 90.1%, 92%{
        color: rgb(9, 23, 131);
        box-shadow: none;
    }
    100%{
        color: #fff;
        text-shadow: 0 0 10px #3975c4,
        0 0 20px #3975c4,
        0 0 40px  #3975c4,
        0 0 80px  #3975c4,
        0 0 160px  #3975c4;
    }
}

.reload-btn{
    background-color: rgb(9, 23, 131); 
    color:whitesmoke;
    border-color: rgb(5, 29, 241);
    border-radius: 8px;
    padding: 10px 42px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.footer{
    text-align: center;
    color: whitesmoke;
    position:absolute;
    bottom:0;
    height:60px;
}

@media screen and (max-width:768px){
    .container h2{
        margin: -80px;
        margin-bottom: 40px;
        padding-top: 1em;
        width:100%;
      
    }
    h2{
        line-height: 1em;
        font-size: 3.5em;
    }
    .footer{
        top: 60em;
        height:10px;
    }
}